Validate a property of type string or null with a defined format should not return errors when null is the value

```php
<?php

use League\JsonGuard;

$dataJSON = '{"email":null}';

$schemaJSON = '{
	"$schema": "http://json-schema.org/draft-04/schema#",
	"id": "http://schema.domain.com/test",
	"type": "object",
	"properties": {
		"email": {
			"id": "http://schema.domain.com/email",
			"type": ["string","null"],
            "format": "email"
		}
	}
}
';

$deref = new JsonGuard\Dereferencer();
$schema = $deref->dereference(json_decode($schemaJSON));
$validator = new JsonGuard\Validator(json_decode($dataJSON), $schema);
if ($validator->fails()) {
    print_r($validator->errors());
} else {
    echo 'Valid!';
}
```


With this schema, an error will happen: `"null" is not a valid email`.
If you remove the format, it will be valid.

I have digged in the json schema spec, but don't find any recommendation.

For me it's logic to pass the validation process here because the value is null and this type is accepted.

In your example you are passing the string "null" in your data. Since "null" is not a valid email it fails validation. The spec says:

> 7.3.2.  email
> This attribute applies to string instances.
> A string instance is valid against this attribute if it is a valid Internet email address as defined by RFC 5322, section 3.4.1 [RFC5322].

Which means both the string null and the value null should fail. 

You probably want to use "oneOf" validation. I'm in mobile so it's a bit hard to write JSON but this link explains it:

https://spacetelescope.github.io/understanding-json-schema/reference/combining.html#oneof

This brings up another issue though. The built in formats should be verifying the type and failing for non strings to prevent errors. 

This is what I was thinking re: `oneOf` validation:

```json
{
  "oneOf": [
    {
      "type": "string",
      "format": "email"
    },
    {
      "type": "null"
    }
  ]
}
```

That would pass for either a valid email which is a string or the value `null`.

Sorry to be late and thank for you the quick answer and your amazing work.

The spec is not clear for me when you deal with multiple types and the restrictions.
I'm using this website http://cswr.github.io/JsonSchema/spec/multiple_types/#how-restrictions-work-under-multiple-types done by some semantics guys in Chile. 

Not sure the source is perfect, but they seem to have the same interpretation than me.

Maybe this is a difference between draft v3 and v4, but I can't find a clear explanation in the official spec, you probably have a better about that.

Just see my typo in the first comment (I fix it): 

```json
$dataJSON = '{"email":null}';
```

And the validation error still happen.

Here is what I found:

> Some validation keywords only apply to one or more primitive types. When the primitive type of the instance cannot be validated by a given keyword, validation for this keyword and instance SHOULD succeed.

So that means that if the validation keyword only applies to strings, it should pass for non-strings.

> A format attribute can generally only validate a given set of instance types. If the type of the instance to validate is not in this set, validation for this format attribute and instance SHOULD succeed.

So  format can apply to any type, but validation should pass if the type isn't matched.  Since email only applies to strings, I believe you are correct and it should pass.

I will try and push a PR when I get a chance.  Thanks for taking the time to explain the issue!

- Matt

Happy to help and I confirm your solution with `oneOf` is working fine.

Great!  If you want to open a PR take a look at #52.  Those are basically the changes that need to be made, but with the logic reversed 😀 